@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
ul,dl,dd,li,dt,input{ margin:0; padding:0;}
table{ width:100% !important;}
/*th{ width: auto !important; }*/
.register-containerss{ margin:auto;}
.hpanel{ margin-bottom:0;}
.hpanel .panel-body {
    background: #fff none repeat scroll 0 0;
	border:0;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.formclass label{ line-height:32px; text-align:right;}
.formclass input{ height:32px;}

/*员工录入界面*/
.tuichu{background:#0066FF; height:48px;}
.tuichu h5{line-height:48px;color:#fff; margin-left:20px;}
.tuichu h5 span{font-weight:normal; color:#fff;vertical-align:middle; margin-left:10px;}
.inform{ overflow:hidden; zoom:1; margin-top:20px;}
.inform .inleft{ float:left; /*width:90%;*/ text-align:center;}
.imgs{ float:left; /*margin-left:24px;*/}
.xinxi{ float:left; margin-left:20px; margin-top:6px;}
.qi{ text-align:left;}
.xinxi h5{ text-align:left;}
.inform .inright{ float:right; width:10%; margin-top:8px;}
/*列表*/
.liebiao{ width:100%; color:#0033FF;}
.liebiao ul{ list-style:none;}
.liebiao ul li{ border-bottom:1px solid #D7D7D7; font-size:16px;background:#fff; margin-top:8px; padding-left:10px;}
.liebiao ul li span{ float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:10px;}
.liebiao ul li a {
    height:48px;
    background: #fff url(../img/repeat-holder.png) repeat-x 0 0;
    line-height:48px; 
    display: block;
    border:1px solid #fff;
}
.liebiao ul li a,
.liebiao ul li a:link {
    color:#0033FF;
}
/*完成录入*/
/*个人信息*/
.liebiaos{ width:100%;  background:#fff;}
.liebiaos h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; /*width:90%;*/ color:#0033FF;}
.liebiaos h3 span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px;}
.liebiaos ul{ margin-left:30px;}
.liebiaos ul li{ line-height:24px;}
.liebiaos .duihao{color:#ccc; float:right; font-size:24px; margin-right:40px; margin-top:-22px; cursor:pointer;}
.liebiaos .nones{ display:none;}
.blue{background:#0066FF; height:48px;}
.blue h5{line-height:48px;color:#fff; margin-left:20px;}
.blue h5 .gereninform{font-weight:normal; color:#fff;vertical-align:middle; margin-left:10px;}
.baocun{ float:right; font-weight:normal; margin-right:20px; cursor:pointer; margin-top: 8px; color: #fff;}
.baocun:hover,
.baocun:focus,
.baocun:active,
.baocun.active {
  color: #fff;
}
/*教育背景*/
.teach{ width:100%;  background:#fff;}
.teach h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.teach span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px; font-weight:bold;}
.teaches{ overflow:hidden;}
.teaches ul{float:left; width:70%; margin-left:30px; }
.teaches li{font-size:14px; line-height:24px;}
/*公用*/
.xiushan{ float:right; margin-right:18px;}
.xiushan a{ margin-right:10px;}
/*工作经验*/
.work{ width:100%;  background:#fff;}
.work h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.work span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px; font-weight:bold;}
.work ul{ margin-left:30px;}
.work ul li{ line-height:24px;}
.works{ overflow:hidden;}
.works ul{float:left; width:70%; margin-left:30px; }
.works li{font-size:14px; line-height:24px;}
/*项目经验*/
.item{ width:100%;  background:#fff;}
.item h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.item span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px; font-weight:bold;}
.item ul{ margin-left:30px;}
.item ul li{ line-height:24px;}
.items{ overflow:hidden;}
.items ul{float:left; width:70%; margin-left:30px; }
.items li{font-size:14px; line-height:24px;}
/*培训经历*/
.cultivate{ width:100%;  background:#fff;}
.cultivate h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.cultivate span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px; font-weight:bold;}
.cultivate ul{ margin-left:30px;}
.cultivate ul li{ line-height:24px;}
.cultivates{ overflow:hidden;}
.cultivates ul{float:left; width:70%; margin-left:30px; }
.cultivates li{font-size:14px; line-height:24px;}
/*获得证书*/
.achieve{ width:100%;  background:#fff;}
.achieve h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.achieve span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px; font-weight:bold;}
.achieve ul{ margin-left:30px;}
.achieve ul li{ line-height:24px;}
.achieves{ overflow:hidden;}
.achieves ul{float:left; width:70%; margin-left:30px; }
.achieves li{font-size:14px; line-height:24px;}
/*家庭成员*/
.famliy{ width:100%;  background:#fff;}
.famliy h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.famliy span{float:right; color:#0033FF; font-size:24px; cursor:pointer; margin-right:30px; font-weight:bold;}
.famliy ul{ margin-left:30px;}
.famliy ul li{ line-height:24px;}
.famliys{ overflow:hidden;}
.famliys ul{float:left; width:70%; margin-left:30px; }
.famliys li{font-size:14px; line-height:24px;}
/*上传附件*/
.shangchuan{ width:100%;  background:#fff; margin-bottom:80px; padding-bottom:20px;}
.shangchuan h3{border-bottom:1px solid #D7D7D7; font-size:16px; height:38px; line-height:38px; background:#fff; margin-top:8px; padding-left:10px; color:#0033FF;}
.shangchuans{ overflow:hidden;}
.shangchuans .fujians{float:left; width:70%; margin-left:15px; }
.shangchuans .fujians img{ margin-left:60px;}


































/*员工个人信息*/
@media (min-width: 768px) {
    .searchs-form .searchs-unit{
        width:52%;
        float: left;
        padding: 0 1%;
		line-height:32px;
		text-align:right;
    }
    .searchs-unit .form-control {
    width: 100%
    }
}

/*个人信息*/
/*表单*/
.sex { display: inline-block; vertical-align:middle;}
input[type="radio"], input[type="checkbox"] { line-height: normal; margin: 2px 0 0;}
.sex_four{ margin-left:50px;}
.red{ color:#f00; margin-left:20px; vertical-align:-3px;}
.redes{ color:#f00; margin-left:5px; vertical-align:-10px;}
.reds{ color:#f00; margin-left:20px; vertical-align:-10px;}
/*.labels{ text-align:right; line-height:32px;}*/
.min-h{ min-height:1550px !important;}
.control-label{ font-weight:normal;}
.grxx,.jben_xx,.gwei_xx,.gangwei_dd,.jiaoyu,.gongzuojy,.xiangmujy,.huode,.peixun_jl,.famliy_cy,.laodong,.shi_yong,.ji_xiao,.jiang_cheng,.kao_qin,.li_zhi,.ding_dan{margin:auto; background:#fff; padding-bottom:20px; }

/*状态*/
.zhuangtai{ font-weight:normal;}
/*上传*/
.input-dianzis{height:34px; vertical-align:middle;background-color: #fff;background-image: none; border: 1px solid #E4E5E7; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555;padding: 6px 65px;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width:92%;}
.input-dianzi{height:34px; vertical-align:middle;background-color: #fff;background-image: none; border: 1px solid #E4E5E7; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555;padding: 6px 65px;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width:81%;}
.btn-file input[type="file"] { background: transparent none repeat scroll 0 0; cursor: inherit; display: block; min-height: 100%; min-width: 100%; opacity: 0; position: absolute; right: 0; text-align: right; top: 0;}
.input-group .form-control { float: left; margin-bottom: 0; position: relative; width: 100%; z-index: 2;}
.form-control { background-color: #fff; background-image: none; border: 1px solid #ccc; color: #555; display: block; font-size: 14px; height: 34px;line-height: 1.42857;padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%;  border-radius: 4px !important;}















