@charset 'utf-8';
/* bootstrap extend */
.form-required:after {
    content: "*";
    color: #f00;
    position: absolute;
    right: 2px;
    top: 18%;
}
.date.form-required:after {
    right: -12px;
}
.has-success .form-required:after,
.has-warning .form-required:after,
.has-error .form-required:after {
    content: "";
}

/*非空校验*/
.form-horizontal .has-feedback .form-control-feedback {
    right: -20px;
    /*background-color: #fff;*/
}
.content {
    padding: 25px;
}
/* panel style */
.hpanel .jabava-built.panel-heading + .panel-body {
  border-top: none;
}

/*表头颜色 dataTable*/
table.dataTable thead > tr > th {
    background-color: #f1faff;
}
.table-bordered {
    border-color: #c0d8e4;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #c0d8e4;
}

    /* datatables show more */
a[data-toggle="showmore"] {
    background-color: #56cb00;
    color: #fff;
    display: block;
    font-size: 85%;
    height: 60px;
    line-height: 16px;
    padding: 7px 2px;
    position: absolute;
    right: -20px;
    top: 26px;
    width: 20px;
    text-align: center;
}

/* navigator */
.header-link {
    background: #ffffff none repeat scroll 0 0;
}

#wrapper {
    background: #f8faff none repeat scroll 0 0;
}

.profile-picture {
    background-color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #95caed;
}
#side-menu li .nav-second-level li a {
    color: #3498db;
}

#side-menu li .nav-second-level li a:hover,
#side-menu li .nav-second-level li a:focus{
    color: #ffffff;
}

.btn-success {
    background-color: #56cb00;
}

#side-menu {
    background: #fff none repeat scroll 0 0;
}

