<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 启用方法控制访问权限  用于直接拦截接口上的方法，拥有权限才能访问此方法-->
	<global-method-security jsr250-annotations="enabled"/>  
	<http pattern="/static/**" security="none" />
	<http pattern="/welcome.jsp" security="none" />
	<http pattern="/to_register" security="none" />
	<http pattern="/register" security="none" />
	<http pattern="/checkMobile" security="none" />
	<http pattern="/login" security="none" />
    <http pattern="/common/error" security="none" />
    
    <!-- 配置拦截页面  --><!-- 启用页面级权限控制 使用表达式 -->
    <http auto-config='true' entry-point-ref="authenticationEntryPoint">
        <intercept-url pattern="/**" access="ROLE_LOGIN" />
        <!-- 设置用户默认登录页面 -->
        <form-login login-page="/login" 
        		authentication-failure-url="/login" 
        		default-target-url="/to_index"
        		authentication-success-handler-ref="authenticationSuccessHandler"/>
        <logout invalidate-session="true" 
                logout-success-url="/login" 
                logout-url="/j_spring_security_logout"/>
    </http>
    
    <beans:bean id="singleUserDetailsService" class="com.ezhiyang.core.service.impl.SingleUserDetailsService"></beans:bean>
    
    <!-- 权限控制 引用 id是myUserDetailsService的server -->
    <authentication-manager>
        <authentication-provider user-service-ref="singleUserDetailsService">
        	<password-encoder ref="passwordEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>
  
    <!-- 用户的密码加密或解密 -->
    <!--beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    	<beans:constructor-arg name="strength" value="9" />
    </beans:bean-->
    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"></beans:bean>
    
    <beans:bean id="authenticationSuccessHandler" class="com.ezhiyang.common.handler.SingleAuthenticationSuccessHandler">
    	
    </beans:bean>
    
    <beans:bean id="authenticationEntryPoint" class="com.ezhiyang.core.web.JabavaLoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg name="loginFormUrl" value="/login" />
  	</beans:bean>
</beans:beans>
